<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/dashboardCSS.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>

    <body>
        <div class="dashboard-container">
            <nav>
                <img class="logo" src="/sprites/WHITE.png">

                <ul class="nav">
                    <li><a href="/dashboard" name="home">Home</a></li>
                    {{#users}}
                        <li><a href="/user/{{username}}" name="profile">Profile</a></li> 
                    {{/users}}
                    
                    <li class="search-icon"> 
                        <input class="search-box" type="search" name="search" placeholder=" Search..." >
                        <label class="icon">
                            <span class="fas fa-search"></span>
                        </label>
                        
                    </li>
                </ul>
            </nav>

            <div class="book-container">

                {{#each book}}
                    <div class="book">
                        <a href="/book/{{title}}">
                            <div class="book-image-container">
                                <img class="book-image" src="{{coverImage}}">
                            </div>

                            <div class="book-title">{{title}}</div>
                            <div class="book-author">{{author}}</div>
                        </a>
                    </div>
                {{/each}}
            

            </div>
        </div>

    </body>
</html>
