<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/historyCSS.css">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>

    <body>
        <div class="profile-container">
            <nav>
                <img class="logo" src="/sprites/WHITE.png">

                <ul class="nav">
                    <li><a href="/dashboard" name="home">Home</a></li>
                    <li><a href="/user/{{username}}" name="profile">Profile</a></li> 
                    <li class="search-icon"> 
                        <input class="search-box" type="search" name="search" placeholder=" Search..." >
                        <label class="icon">
                            <span class="fas fa-search"></span>
                        </label>
                    </li>
                </ul>
            </nav>

            <div class="body-container">
                <div class="profile">
                    <div class="details">
                        <div id="name">{{firstName}} {{lastName}}</div>
                        <div id="username">{{username}}</div>
                        <div id="id-number">{{ID}}</div>
                        <div id="email">{{email}}</div>
                    </div>

                    <div class="button-container">
                        <button id="password">Change Password</button>
                        <form action="/user/logout" method="get">
                            <button id="logout">Logout</button>
                        </form>

                    </div>
                </div>

                <hr/>

                <div class="body">
                    <div class="sidebar-container">
                        <div id="my-account">My Account</div>
                        <div id="reviews">Reviews</div>
                        <div id="borrowing">Currently Borrowing</div>
                        <div id="history">History</div>
                    </div>

                    <div class="main-container">
                        <div class="label-container">
                            <div id="label">History</div>
                        </div>
                        <hr/>

                        <div class="information-container">
                            <div class="history">
                                <div class="book-container">
                                    <div id="book-title">Eleanor & Park</div>
                                    <div id="author">Rainbow Rowell</div>
                                </div>
                                
                                <div class="btn-container">
                                    <button id="reborrow-btn">Re-Borrow</button>
                                </div>
                            </div>

                            <div class="history">
                                <div class="book-container">
                                    <div id="book-title">Perks of Being A Wallflower</div>
                                    <div id="author">Stephen Chobsky</div>
                                </div>
                                
                                <div class="btn-container">
                                    <button id="reborrow-btn">Re-Borrow</button>
                                </div>
                            </div>

                            <div class="history">
                                <div class="book-container">
                                    <div id="book-title">Crazy Rich Asians</div>
                                    <div id="author">Kevin Kwan</div>
                                </div>
                                
                                <div class="btn-container">
                                    <button id="reborrow-btn">Re-Borrow</button>
                                </div>
                            </div>

                            <div class="history">
                                <div class="book-container">
                                    <div id="book-title">China Rich Girlfriend</div>
                                    <div id="author">Kevin Kwan</div>
                                </div>
                                
                                <div class="btn-container">
                                    <button id="reborrow-btn">Re-Borrow</button>
                                </div>
                            </div>

                            <div class="history">
                                <div class="book-container">
                                    <div id="book-title">Rich People Problems</div>
                                    <div id="author">Kevin Kwan</div>
                                </div>
                                
                                <div class="btn-container">
                                    <button id="reborrow-btn">Re-Borrow</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>

            </div>
            
            


        </div>

    </body>

</html>
